#!/usr/bin/env bash

exec /app/bin/factomd -config=/app/factomd.conf{% if this | isCustomNetwork() %} -customnet={{ network }}{% endif %}{% for key, value in this %}{% if this | isArg(key) %} -{{ this | getName(key) }}={{ this | getValue(key) }}{% endif %}{% endfor %}