#!/usr/bin/env bash

exec /app/bin/factomd -config=/app/factomd.conf{% if this | isCustomNetwork() %} -customnet="{{ network }}"{% endif %}{% for key, value in this | adaptConfiguration(true) %} -{{ key }}="{{ value }}"{% endfor %}